<mat-spinner *ngIf="carsLoading" [ngClass]="'custom-center'"></mat-spinner>


<div [style.display]="carsLoading ===false ? 'block' : 'none'">
  <mat-form-field >
    <input (keyup)="applyFilter($event.target.value)" matInput  placeholder="Search">
  </mat-form-field>
  

  <mat-chip-list>

  </mat-chip-list>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Musclecar Picture Column -->
    <ng-container matColumnDef="Image">
      <th mat-header-cell *matHeaderCellDef [ngClass]="'custom-mat-column-picture'" >  </th>
      <td mat-cell *matCellDef="let element" [ngClass]="'custom-mat-column-picture'"> <img [src]="element.Image" alt="No Picture available" width="148" height="100"> </td>
    </ng-container>

    <!-- Brand and Model Column -->
    <ng-container matColumnDef="Marque" >
      <th mat-header-cell *matHeaderCellDef [ngClass]="'custom-mat-header'" mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element" [ngClass]="'custom-mat-column-name'"> &nbsp; &nbsp;<mat-chip color="primary" selected>{{element.Marque | uppercase}}</mat-chip> {{element.Modele}} {{element.Serie}}</td>
    </ng-container>

    <!-- Power Column -->
    <ng-container matColumnDef="Puissance_ch">
      <th mat-header-cell *matHeaderCellDef [ngClass]="'custom-mat-header'" mat-sort-header> Power (ch) </th>
      <td mat-cell *matCellDef="let element"> {{element.Puissance_ch}} </td>
    </ng-container>

    <!-- Couple Column -->
    <ng-container matColumnDef="Couple_Nm">
      <th mat-header-cell *matHeaderCellDef [ngClass]="'custom-mat-header'" mat-sort-header> Couple (n.m) </th>
      <td mat-cell *matCellDef="let element"> {{element.Couple_Nm}} </td>
    </ng-container>

    <!-- Performance Index Column -->
    <ng-container matColumnDef="Indice_Perf">
      <th mat-header-cell *matHeaderCellDef  [ngClass]="'custom-mat-header'" mat-sort-header> Indice Performance </th>
      <td mat-cell *matCellDef="let element"> {{element.Indice_Perf}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="'custom-mat-header'" ></tr>
    <tr mat-row (click)="displayCarsDetail(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
