<mat-toolbar color="primary" class="navbar">
  <div class="container">
      <img width="100" alt="Angular Logo" src="assets/img/logo.png">
      <p class="">Musclecars 2.0</p>
  </div>
  <div>
      <span><button  mat-button [routerLink]="['/home']" routerLinkActive="router-link-active"  >Home</button></span>
      <span> <button  mat-button [routerLink]="['/carsList']" routerLinkActive="router-link-active"  >List</button></span>
      <span> <button  mat-button [routerLink]="['/carsList']" routerLinkActive="router-link-active"  >Match</button></span>
      <span> <button  mat-button [routerLink]="['/carsList']" routerLinkActive="router-link-active"  >Drag-Race</button></span>
      <span> <button  mat-button [routerLink]="['/carsList']" routerLinkActive="router-link-active"  >Settings</button></span>
      <span>about</span>
  </div>

</mat-toolbar>
<router-outlet></router-outlet>
