.example-header-image {
    background-size: cover;
  }

  .example-card {
    max-width: 500px;
  }
  
 
  .custom-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .custom-white-chips {
    background-color: white;
  }
  